In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
files = os.listdir("../data/tramdo")

In [6]:
required_columns = ['pm25', 'pm10', 'o3', 'no2', 'so2', 'co', 'aqi']

In [10]:
def classify_aqi(aqi):
    if 0 <= aqi <= 50:
        return 'Tốt'
    elif 51 <= aqi <= 100:
        return 'Vừa Phải'
    elif 101 <= aqi <= 150:
        return 'Không tốt cho người nhạy cảm'
    elif 151 <= aqi <= 200:
        return 'Không tốt'
    elif 201 <= aqi <= 300:
        return 'Rất không tốt'
    else:
        return 'Nguy hiểm'

In [14]:
files[0]

'Ba Đình - Hà Nội.csv'

In [34]:
from datetime import datetime

In [62]:
file_path = "D:/study/data_visualize/thuchanh/finaltern/air_quality/data/tramdo/Hải Châu - Đà Nẵng.csv"
data = pd.read_csv(file_path)

try:
    data['date'] = pd.to_datetime(data['date'], format="%Y-%d-%m")

except ValueError:
    ngay_thang_objects = [datetime.strptime(date, "%d/%m/%Y") for date in data['date']]
    # Chuyển đổi sang định dạng mới "dd/mm/yyyy"
    data["date"] = [date.strftime("%d/%m/%Y") for date in ngay_thang_objects]
    # Chuyển đổi cột 'date' sang định dạng datetime
    data['date'] = pd.to_datetime(data['date'], format="%d/%m/%Y")

ValueError: time data "13/01/2014" doesn't match format "%Y-%m-%d", at position 12. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [51]:
data

            date pm25 pm10  o3 no2 so2  co
0     02/12/2019    0   18  13  12   5  10
1     03/12/2019   34   19  20  12   4   7
2     04/12/2019   36   17  15  13   5   7
3     05/12/2019   32    8  22   8   5   5
4     06/12/2019   13   35  20  13   5   8
...          ...  ...  ...  ..  ..  ..  ..
1279  20/11/2023   25   24   3  10  10   5
1280  21/11/2023   30   25   2  10  10   7
1281  22/11/2023   35   16   2  10  10   3
1282  23/11/2023   19   14   2  10  10   4
1283  24/11/2023   16

[1284 rows x 7 columns]

In [53]:
data['date'] = pd.to_datetime(data['date'], format="%d/%m/%Y")
data

           date pm25 pm10  o3 no2 so2  co
0    2019-12-02    0   18  13  12   5  10
1    2019-12-03   34   19  20  12   4   7
2    2019-12-04   36   17  15  13   5   7
3    2019-12-05   32    8  22   8   5   5
4    2019-12-06   13   35  20  13   5   8
...         ...  ...  ...  ..  ..  ..  ..
1279 2023-11-20   25   24   3  10  10   5
1280 2023-11-21   30   25   2  10  10   7
1281 2023-11-22   35   16   2  10  10   3
1282 2023-11-23   19   14   2  10  10   4
1283 2023-11-24   16

[1284 rows x 7 columns]

In [27]:
for file in files:
    print(file)
    # Đọc dữ liệu từ tệp CSV
    file_path = f"../data/tramdo/{file}"
    data = pd.read_csv(file_path)

    try:
        data['date'] = pd.to_datetime(data['date'])

    except ValueError:
        objects = [datetime.strptime(date, "%d/%m/%Y") for date in data['date']]
        # Chuyển đổi sang định dạng mới "dd/mm/yyyy"
        data["date"] = [date.strftime("%d/%m/%Y") for date in objects]
        # Chuyển đổi cột 'date' sang định dạng datetime
        data['date'] = pd.to_datetime(data['date'], format="%d/%m/%Y")

    # Reset lại index
    data = data.reset_index(drop=True)

    # Sửa tên cột
    data = data.rename(columns=lambda x: x.strip())
    data[data.columns[1:]] = data[data.columns[1:]].replace(' ', 0) #ép kiểu cột sang int
    data[data.columns[1:]] = data[data.columns[1:]].astype('double')

    # Thêm cột mới nếu chưa xuất hiện
    for column in required_columns:
        if column not in data.columns:
            data[column] = 0

    # Thêm cột 'aqi' bằng cách lấy giá trị lớn nhất
    data['aqi'] = data[required_columns].max(axis=1)
    # Đảm bảo thứ tự các cột là 'pm25', 'pm10', 'o3', 'no2', 'so2', 'co', 'aqi'
    data = data[['date', 'pm25', 'pm10', 'o3', 'no2', 'so2', 'co', 'aqi']]

    # Áp dụng hàm phân loại AQI cho cột 'aqi'
    data['mức độ ô nhiễm'] = data['aqi'].apply(classify_aqi)
    
    # Thêm cột 'địa điểm trạm đo' từ tên tệp
    data.insert(0, "địa điểm trạm đo", file.split("-")[0].strip())

    # Lưu DataFrame đã cập nhật vào tệp CSV mới
    data.to_csv(file_path, index=False)

Ba Đình - Hà Nội.csv

ValueError: time data "13/07/2022" doesn't match format "%Y-%m-%d", at position 21. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.