In [1]:
import os
import numpy as np
import pandas as pd

In [6]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     ------ ------------------------------ 41.0/250.0 kB 487.6 kB/s eta 0:00:01
     --------------------- ---------------- 143.4/250.0 kB 1.2 MB/s eta 0:00:01
     -------------------------------------  245.8/250.0 kB 1.7 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.4 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [2]:
files = os.listdir("../die")

In [8]:
for file in files:
    df = pd.read_excel(f"../die/{file}")
    df.to_csv(f"../die/{file}")

In [14]:
df = pd.read_csv("D:/study/Data_visualize/CK/air_quality/die/die-2014.xlsx")
df.to_csv("D:/study/Data_visualize/CK/air_quality/die/die-2014.csv")

In [2]:
required_columns = ['pm25', 'pm10', 'o3', 'no2', 'so2', 'co', 'aqi']

In [13]:
def phan_loai_aqi(aqi):
    if 0 <= aqi <= 50:
        return 'Tốt'
    elif 51 <= aqi <= 100:
        return 'Vừa Phải'
    elif 101 <= aqi <= 150:
        return 'Không tốt cho người nhạy cảm'
    elif 151 <= aqi <= 200:
        return 'Không tốt'
    elif 201 <= aqi <= 300:
        return 'Rất không tốt'
    else:
        return 'Nguy hiểm'

---

In [90]:
import pandas as pd
from datetime import datetime

# Đọc dữ liệu từ tệp văn bản
with open('../data/Thanh Xuân - Hà Nội - pm25.txt', 'r') as file:
    lines = file.readlines()

# Tách các giá trị bằng dấu phẩy và loại bỏ dòng tiêu đề
header = lines[0].strip().split(',')
data = [line.strip().split(',') for line in lines[1:]]

# Chuyển đổi định dạng của cột "date"
for row in data:
    row[0] = datetime.strptime(row[0], '%Y-%m-%dT%H:%M:%S.%fZ').strftime('%Y-%m-%d')

# Thêm lại dòng tiêu đề vào dữ liệu
data.insert(0, header)

# Tạo DataFrame từ dữ liệu
df = pd.DataFrame(data[1:], columns=header)

df['min'] = pd.to_numeric(df['min'], errors='coerce')
df['max'] = pd.to_numeric(df['max'], errors='coerce')
df['median'] = pd.to_numeric(df['median'], errors='coerce')
# Tính trung bình của cột "min" và "max" và tạo một cột mới "avg"
df['avg'] = (df['min'] + df['max']+ df['median']) / 3
df
# Lưu DataFrame vào định dạng CSV
# df = df[['date','median']]
df

           date    min    max  median     q1      q3   stdev count
0    2021-10-08   26.7   89.4    38.9   33.1    46.1  10.374   433
1    2021-10-09    9.4   84.5    32.4   22.2    42.1  20.244   547
2    2021-10-10    3.6   45.1   16.35    8.5      30  10.859   526
3    2021-10-11    3.5     37    16.5   14.1    20.6   6.598   571
4    2021-10-12   10.2   30.9   20.39   17.7    23.5   4.352   582
..          ...    ...    ...     ...    ...     ...     ...   ...
654  2023-11-21   42.2  207.5   110.4   77.1   131.3  39.251   659
655  2023-11-22  101.2  283.8  149.85  133.4   168.8  25.883   680
656  2023-11-23   53.3  261.6    89.5   73.4  110.15  33.043   669
657  2023-11-24   86.9  241.6   116.2  110.9   133.6  22.515   694
658  2023-11-25   86.7  163.1   111.3  101.8   144.1  22.772    53

[659 rows x 8 columns]

In [86]:
df.to_csv("../data/Thanh Xuân - Hà Nội - pm25.csv", index=False)