In [1]:
import os
import numpy as np
import pandas as pd

In [6]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     ------ ------------------------------ 41.0/250.0 kB 487.6 kB/s eta 0:00:01
     --------------------- ---------------- 143.4/250.0 kB 1.2 MB/s eta 0:00:01
     -------------------------------------  245.8/250.0 kB 1.7 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.4 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [2]:
files = os.listdir("../die")

In [8]:
for file in files:
    df = pd.read_excel(f"../die/{file}")
    df.to_csv(f"../die/{file}")

In [14]:
df = pd.read_csv("D:/study/Data_visualize/CK/air_quality/die/die-2014.xlsx")
df.to_csv("D:/study/Data_visualize/CK/air_quality/die/die-2014.csv")

In [2]:
required_columns = ['pm25', 'pm10', 'o3', 'no2', 'so2', 'co', 'aqi']

In [13]:
def phan_loai_aqi(aqi):
    if 0 <= aqi <= 50:
        return 'Tốt'
    elif 51 <= aqi <= 100:
        return 'Vừa Phải'
    elif 101 <= aqi <= 150:
        return 'Không tốt cho người nhạy cảm'
    elif 151 <= aqi <= 200:
        return 'Không tốt'
    elif 201 <= aqi <= 300:
        return 'Rất không tốt'
    else:
        return 'Nguy hiểm'

---

In [39]:
import pandas as pd
from datetime import datetime

# Đọc dữ liệu từ tệp văn bản
with open('../data/Tân An - Long An - pm25.txt', 'r') as file:
    lines = file.readlines()

# Tách các giá trị bằng dấu phẩy và loại bỏ dòng tiêu đề
header = lines[0].strip().split(',')
data = [line.strip().split(',') for line in lines[1:]]

# Chuyển đổi định dạng của cột "date"
for row in data:
    row[0] = datetime.strptime(row[0], '%Y-%m-%dT%H:%M:%S.%fZ').strftime('%Y-%m-%d')

# Thêm lại dòng tiêu đề vào dữ liệu
data.insert(0, header)

# Tạo DataFrame từ dữ liệu
df = pd.DataFrame(data[1:], columns=header)

# Lưu DataFrame vào định dạng CSV
df = df[['date','max']]
df

           date    max
0    2022-11-19  103.8
1    2022-11-20  229.3
2    2022-11-21   83.9
3    2022-11-22  159.3
4    2022-11-23  231.1
..          ...    ...
341  2023-11-20  193.1
342  2023-11-21  334.1
343  2023-11-22   97.1
344  2023-11-23  511.5
345  2023-11-24  165.4

[346 rows x 2 columns]

In [40]:
df.to_csv("../data/Tân An - Long An - pm25.csv", index=False)